#landing-features-3{ data: { section: "benefits" } }
  .container
    .row
      .col-md-8.col-md-offset-2.landing-section-heading.text-center
        %h2.landing-lead.animate-single.features3-animate-1 Benefits of this App
        %p.landing-sub.animate-single.features3-animate-2 Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      .col-md-4.col-sm-6.text-center.landing-text-wrap
        .landing-text.to-animate
          %span.landing-icon
            %i.icon-screen-desktop
          %h4.landing-uppercase-sm Cross platform support
          %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      .col-md-4.col-sm-6.text-center.landing-text-wrap
        .landing-text.to-animate
          %span.landing-icon
            %i.icon-graph
          %h4.landing-uppercase-sm Cross platform support
          %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      .clearfix.visible-sm-block
      .col-md-4.col-sm-6.text-center.landing-text-wrap
        .landing-text.to-animate
          %span.landing-icon
            %i.icon-anchor
          %h4.landing-uppercase-sm Cross platform support
          %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      .col-md-4.col-sm-6.text-center.landing-text-wrap
        .landing-text.to-animate
          %span.landing-icon
            %i.icon-camera
          %h4.landing-uppercase-sm Cross platform support
          %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      .clearfix.visible-sm-block
      .col-md-4.col-sm-6.text-center.landing-text-wrap
        .landing-text.to-animate
          %span.landing-icon
            %i.icon-present
          %h4.landing-uppercase-sm Cross platform support
          %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      .col-md-4.col-sm-6.text-center.landing-text-wrap
        .landing-text.to-animate
          %span.landing-icon
            %i.icon-energy
          %h4.landing-uppercase-sm Cross platform support
          %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
