#landing-features{ data: { section: "features" } }
  .container
    .row
      .col-md-8.col-md-offset-2.landing-section-heading.text-center
        %h2.landing-lead.to-animate.green= t("views.home.index.title.features")

      = block_feature title: t('views.home.index.content.feature_1.tag'),
                      text: t('views.home.index.content.feature_1.description'),
                      icon: fa_icon('code'),
                      block_class: 'col-md-offset-1'

      = block_feature title: t('views.home.index.content.feature_2.tag'),
                      text: t('views.home.index.content.feature_2.description'),
                      icon: fa_icon('newspaper-o')

      -# This block needs to be putted after each '2x block_feature'
      .clearfix.visible-sm-block
