#landing-organizations
  .container
    .row.text-center
      .col-md-3.col-sm-6.col-xs-6.to-animate
        %figure.landing-client
          = image_tag "organization_1.png", alt: "organization name"
