-# Facebook integration
%meta{content: "", property: "og:title"}/
%meta{content: "", property: "og:image"}/
%meta{content: "", property: "og:url"}/
%meta{content: "", property: "og:site_name"}/
%meta{content: "", property: "og:description"}/

-# Twitter integration
%meta{content: "", name: "twitter:title"}/
%meta{content: "", name: "twitter:image"}/
%meta{content: "", name: "twitter:url"}/
%meta{content: "", name: "twitter:card"}/
